<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.lele.mapper.CourseMapper">

	<select id="findAll" resultMap="resultMap_Course1">
		SELECT c.*, d.departmentName, p.professorName
		FROM Course c
		JOIN Department d ON c.departmentId = d.id
		JOIN Professor p ON c.professorId = p.id
	</select>

	<select id="findAllWithStudents" resultMap="resultMap_Course2">
		SELECT c.*, d.departmentName, p.professorName,
				s.id studentId, s.studentNumber, s.name
			FROM Course c
				JOIN Department d 
					ON c.departmentId = d.id
				JOIN Professor p 
					ON c.professorId = p.id
				JOIN Register r 
					ON c.id = r.courseId
				JOIN Student s 
					ON r.studentId = s.id
	</select>

	<resultMap id="resultMap_Course1" type="Course">
		<id property="id" column="id" />
		<result property="courseName" column="courseName" />
		<result property="unit" column="unit" />
		<result property="startDate" column="startDate" />
		<result property="professorId" column="professorId" />
		<result property="departmentId" column="departmentId" />
		<association property="department" javaType="Department">
			<id property="id" column="departmentId" />
			<result property="departmentName" column="departmentName" />
		</association>
		<association property="professor" javaType="Professor">
			<id property="id" column="professorId" />
			<result property="professorName" column="professorName" />
		</association>
	</resultMap>

	<resultMap id="resultMap_Course2" type="Course" autoMapping="true">
		<id property="id" column="id" />
		<association property="department" javaType="Department" autoMapping="true">
			<id property="id" column="departmentId" />
		</association>
		<association property="professor" javaType="Professor" autoMapping="true">
			<id property="id" column="professorId" />
		</association>
		<collection property="students" ofType="Student" autoMapping="true">
			<id property="id" column="studentId" />
		</collection>
	</resultMap>
</mapper>


	<!-- <select id="findOne" resultMap="resultMap_Course">
		SELECT c.*, d.departmentName
		FROM Course c LEFT JOIN department d ON c.departmentId = d.id
		WHERE id = #{id}
	</select>

	<select id="findAll" resultMap="resultMap_Course">
		SELECT c.*, d.departmentName
		FROM Course c LEFT JOIN department d ON c.departmentId = d.id
	</select>

	<resultMap id="resultMap_Course" type="Course">
		<id property="id" column="id" />
		<result property="courseName" column="courseName" />
		<result property="departmentId" column="departmentId" />
		<result property="unit" column="unit" />
		<result property="professorId" column="professorId" />
		<result property="startDate" column="startDate" />
		<association property="department" javaType="Department">
			<id property="id" column="departmentId" />
			<result property="departmentName" column="departmentName" />
		</association>
	</resultMap> -->