<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.lele.mapper.PeopleMapper">
	<select id="findAll" resultType="People">
		SELECT *
		FROM People
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT
		People (id, password, name, birthday, sex, phone)
		VALUES
		(#{id},
		#{password}, #{name}, #{birthday}, #{sex}, #{phone})
	</insert>
</mapper>
	